@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  color: unset;
}

.background-main {
  background-color: #0e0e10 !important;
  background-image: url("/gradient-back.webp");
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea:focus, input:focus{
  outline: none;
}

input, textarea, select {
  border: 2px solid #464649 !important;
  background: #464649 !important;
}

input:focus, textarea:focus, select:focus {
  border: 2px solid #a970ff !important;
}

input:active, textarea:active, select:active {
  border: 2px solid #a970ff !important;
}

input#theme-mode {
  background-color: #9147ff !important;
}

input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #d4d7e5;
  border-radius: .375rem;
  box-shadow: inset 0 0 0 transparent;
  color: #ffffff;
  display: block;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.6;
  padding: .625rem 1rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 100%;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  transition: background-color 99999s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, textarea:-webkit-autofill:active, select:-webkit-autofill:hover, select:-webkit-autofill:focus, select:-webkit-autofill:active {
  transition: background-color 99999s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

.btn:not([class^=btn-outline-]):not([class*=" btn-outline-"]):not(.btn-secondary):not(.btn-light):not(.btn-link) {
  --si-btn-color: #fff;
}

.form-control-color:not(:disabled):not([readonly]), .form-control[type=file]:not(:disabled):not([readonly]), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

.btn {
  border: 0;
  color: var(--si-btn-color);
  transition: all .6s !important;
}

.btn {
  --si-carousel-nav-btn-hover-bg: rgb(119, 44, 232);
  --si-carousel-nav-btn-hover-box-shadow: 0 .4rem 1.125rem -.5rem rgba(119, 44, 232, 0.95);
  border-radius: .8em !important;
}

.btn-primary {
  --si-btn-bg: #9147ff;
  --si-btn-border-color: #9147ff;
  --si-btn-active-bg: #772ce8;
  --si-btn-active-border-color: #772ce8;
  --si-btn-hover-bg: #772ce8;
  --si-btn-hover-border-color: #772ce8;
  --si-btn-disabled-bg: #772ce8;
  --si-btn-disabled-border-color: #772ce8;
}

.btn-primary, .btn-secondary {
  --si-btn-active-color: #fff;
  --si-btn-disabled-color: #fff;
  --si-btn-hover-color: #fff;
}

.btn-group-lg>.btn, .btn-lg {
  --si-btn-border-radius: .5rem;
  --si-btn-font-size: 1rem;
  --si-btn-padding-x: 2rem;
  --si-btn-padding-y: .785rem;
}

.btn.disabled, .btn:disabled, .btn:hover {
  box-shadow: none !important;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
  background-color: #772ce8;
  border-color: #772ce8;
  color: #fff;
  opacity: 0.65;
  pointer-events: none;
}

.btn {
  -moz-user-select: none;
  -webkit-user-select: none;
  background-color: #9147ff;
  border: var(--si-btn-border-width) solid var(--si-btn-border-color);
  border-radius: var(--si-btn-border-radius);
  box-shadow: var(--si-btn-box-shadow);
  color: var(--si-btn-color);
  cursor: pointer;
  display: inline-block;
  font-size: var(--si-btn-font-size);
  font-weight: var(--si-btn-font-weight);
  line-height: var(--si-btn-line-height);
  padding: var(--si-btn-padding-y) var(--si-btn-padding-x);
  text-align: center;
  text-decoration: none;
  transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  --si-btn-bg: transparent;
  --si-btn-border-color: transparent;
  --si-btn-border-radius: .375rem;
  --si-btn-border-width: 1px;
  --si-btn-box-shadow: unset;
  --si-btn-color: #565973;
  --si-btn-disabled-opacity: .65;
  /*--si-btn-focus-box-shadow: 0 0 0 0 rgba(var(--si-btn-focus-shadow-rgb), .5);*/
  --si-btn-font-size: .875rem;
  --si-btn-font-weight: 600;
  --si-btn-line-height: 1.6;
  --si-btn-padding-x: 1.75rem;
  --si-btn-padding-y: .625rem;
}

/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
} */
